
*{
    margin:0;
    padding:0;
}

body, html {
  height: 100%;
  margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}

.nav{
  float: right;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar img{
  height:50px;
  width: 130px;
  object-fit:cover;
  object-position:100% 10%;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown-submission, .dropdown-program, .dropdown-fees{
  float: left;
  overflow: hidden;
}
.dropdown-submission .submissiondropbtn,
.dropdown-program .programdropbtn,
.dropdown-fees .feesdropbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-submission:hover .submissiondropbtn,
.dropdown-program:hover .programdropbtn,
.dropdown-fees:hover .feesdropbtn{
  background-color:  #08948F;
}
.curve{
  border-radius: 5px;
}
.submission-content, .program-content, .fees-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.submission-content a,
.program-content a,
.fees-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.submission-content a:hover,  .program-content a:hover,
.fees-content a:hover{
  background-color: #ddd;
}

.dropdown-submission:hover .submission-content,
.dropdown-program:hover .program-content,
.dropdown-fees:hover .fees-content{
  display: block;
}

body{
    background-color : #618685;
    background-repeat: no-repeat;
    background-size:100%;
}
h1{
    color:black;
    text-align:center;
    font-style:italic;
    padding: 20px;
    font-size :150%;
}
h2{
    color:black;
    text-align:center;
    font-style:serif;
    font-size :150%;
}
label{
    color:white;
    font-size:20px;
    font-style:serif;
}

#ma{
    color:white;
    font-size:20px;
    font-style:serif;
}

#rate{
    color:white;
    font-size:20px;
    font-style:serif;
    font-size: 100%;
    }

#ch{
    color:white;
    font-size:20px;
    font-style:serif;
}

.reg{
    width:40%;
    margin:auto;
    background-color: rgb(0,0,0,0.70);
    padding:10px;
}

#reg{
    width:60%;
    margin:auto;
}

#email{
    width:300px;
    outline:0;
    padding:5px;
    border:3px solid #9fabb6;
    border-radius:3px;
}

#name{
    width:300px;
    outline:0;
    padding:5px;
    border:3px solid #9fabb6;
    border-radius:3px;
}

#design{
    width:300px;
    outline:0;
    padding:5px;
    border:3px solid #9fabb6;
    border-radius:3px;
}

#organization{
    width:300px;
    outline:0;
    padding:5px;
    border:3px solid #9fabb6;
    border-radius:3px;
}
#contact{
    width:300px;
    outline:0;
    padding:5px;
    border:3px solid #9fabb6;
    border-radius:3px;
}

#fax{
    width:300px;
    outline:0;
    padding:5px;
    border:3px solid #9fabb6;
    border-radius:3px;
}




#submit{
    width:200px;
    outline:0;
    padding: 19px 35px;
    color:white;
    border: none;
    font-size:18px;
    font-style:italic;
    background-color:#5F9EA0;
    border-radius:3px;
}

li {
    padding: 3px;
}

#cancel {
   width:200px;
    outline:0;
    padding: 19px 35px;
    border: none;
    color:white;
    font-size:18px;
    font-style:italic;
    border-radius:3px;
  background-color: #A9A9A9;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  width:400px;
  margin-left: 60px ;
}

.footer {
    background: #333;
    color: white;
    height: 400px;
    position: relative;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
}

.social i {
    font-size: 26px;
    color: grey;
}

.contact i{
    font-size: 36px;
    color: white;
}




.footer .footer-content h3{
    color: #68BAB8;
}

.footer .footer-content .col3 .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .col1 .logo p{
    margin-bottom: 8px;
}

.footer .footer-content .col1 .social a{
    border: 1px solid grey;
    width: 45px;
    height: 45px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
}

.footer .footer-content .col1 .social a:hover{
    text-decoration: none;
    border: 1px solid #68BAB8;
    color: white;
}

.footer .footer-content .col2 .quick-links a{
    text-decoration: none;
    color: white;
}

.footer .footer-content .col2 .quick-links a:hover{
    text-decoration: none;
    color: #68BAB8;
}

.footer .footer-bottom {
    background: #68BAB8;
    color: black;
    heigth: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;

}
