body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}
.navbar img{
  height:50px;
  width: 130px;
  object-fit:cover;
  object-position:100% 10%;
}
h3, ul{
  color: black;
}

.nav{
  float: right;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  align-items: center;


}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown-submission, .dropdown-program, .dropdown-fees{
  float: left;
  overflow: hidden;
}
.dropdown-submission .submissiondropbtn,
.dropdown-program .programdropbtn,
.dropdown-fees .feesdropbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav a:hover, .dropdown-submission:hover .submissiondropbtn,
.dropdown-program:hover .programdropbtn,
.dropdown-fees:hover .feesdropbtn{
  background-color:  #08948F;
}
.curve{
  border-radius: 5px;
}
.submission-content, .program-content, .fees-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.submission-content a,
.program-content a,
.fees-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.submission-content a:hover,  .program-content a:hover,
.fees-content a:hover{
  background-color: #ddd;
}

.dropdown-submission:hover .submission-content,
.dropdown-program:hover .program-content,
.dropdown-fees:hover .fees-content{
  display: block;
}
.home{
  margin: auto;
  width: 60%;
   border-style:none;
  padding: 0px;

}
.box{
  position: relative;
  width: 300px;
  height: 300px;
  border: 8px solid black;
  right: 80px;
  float: right;
  padding: 10px;
  background-color:white ;
}
.image2,.image3,.image4{
  width: 300px;
  height: 400px;
  object-fit:cover;
  object-position:60% 10%;
  border: 3px solid black;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),url("mic.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit:cover;
  object-position:60% 100%;
}

.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}
.hero-text button, .modal-button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}
.hero-text button:hover,  .modal-button:hover {
  background-color: #08948F;

}

.footer {
    background: #333;
    color: white;
    height: 400px;
    position: relative;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
}

.social i {
    font-size: 26px;
    color: grey;
}

.contact i{
    padding: 5px;
    font-size: 36px;
    color: white;
}

.footer .footer-content h3{
    color: #68BAB8;
}

.footer .footer-content .col3 .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .col1 .logo p{
    margin-bottom: 8px;
    padding: 12px;
}

.footer .footer-content .col1 .social a{
    border: 1px solid grey;
    width: 45px;
    height: 35px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
}

.footer .footer-content .col1 .social a:hover{
    text-decoration: none;
    border: 1px solid #68BAB8;
    color: white;
}

.footer .footer-content .col2 .quick-links a{
    text-decoration: none;
    color: white;
}

.footer .footer-content .col2 .quick-links a:hover{
    text-decoration: none;
    color: #68BAB8;
}

.footer .footer-bottom {
    background: #68BAB8;
    color: black;
    heigth: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 3px 3px 6px black;
}
#myBtn:hover {
    background-color:  #08948F;
  -webkit-transition: background-color 0.5s ease-in-out;
 -moz-transition: background-color 0.5s ease-in-out;
 -ms-transition: background-color 0.5s ease-in-out;
 -o-transition: background-color 0.5s ease-in-out;
 transition: background-color 0.5s ease-in-out;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #08948F;
  color: white;
}

.modal-body {padding: 2px 16px;}
.fotorama{
  data-width: 800px;
       data-height:600px;
}
