body, html {
  height: 100%;
  margin: 0;
  font-family: Poppins, Helvetica, sans-serif;
}

.nav{
  float: right;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar img{
  height:50px;
  width: 130px;
  object-fit:cover;
  object-position:100% 10%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown-submission, .dropdown-program, .dropdown-fees{
  float: left;
  overflow: hidden;
}
.dropdown-submission .submissiondropbtn,
.dropdown-program .programdropbtn,
.dropdown-fees .feesdropbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-submission:hover .submissiondropbtn,
.dropdown-program:hover .programdropbtn,
.dropdown-fees:hover .feesdropbtn{
  background-color:  #08948F;
}

.submission-content, .program-content, .fees-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.submission-content a,
.program-content a,
.fees-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.submission-content a:hover,  .program-content a:hover,
.fees-content a:hover{
  background-color: #ddd;
}

.dropdown-submission:hover .submission-content,
.dropdown-program:hover .program-content,
.dropdown-fees:hover .fees-content{
  display: block;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://miro.medium.com/max/1280/1*9pXBMF5Pde2Yqf76O8k9Fg.jpeg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit:cover;
  object-position:60% 100%;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #08948F;
  color: white;
}

.center {
    text-align: center;
    vertical-align: center;
}

.light {
    font-weight: 300;
}

ul{
    text-align: left;
    margin: 8px;
    padding: 6px;
}

li {
    padding: 3px;
}

.caption p{
    font-style: bold;
    padding: 12px;
}

ul{
    text-align: left;
    margin: 8px;
    padding: 6px;
}

p {
    font-style: bold;
    padding: 12px;
}

.container {
    height: 1200px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.top-row {
  width: 1500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  border: 1px solid #fff;
  width: 400px;
  height: 500px;
}

.box p{
    text-align: center;
}

.box i {
    margin: 40px 0;
    color:  #dc7633;
    font-size: 7rem;
    display: block;
    text-align: center;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

/* NOTE: footer */

.footer {
    background: #333;
    color: white;
    height: 400px;
    position: relative;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
}

.social i {
    font-size: 26px;
    color: grey;
}

.contact i{
    padding: 5px;
    font-size: 36px;
    color: white;
}

.footer .footer-content h3{
    color: #68BAB8;
}

.footer .footer-content .col3 .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .col1 .logo p{
    margin-bottom: 8px;
    padding: 12px;
}

.footer .footer-content .col1 .social a{
    border: 1px solid grey;
    width: 45px;
    height: 35px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
}

.footer .footer-content .col1 .social a:hover{
    text-decoration: none;
    border: 1px solid #68BAB8;
    color: white;
}

.footer .footer-content .col2 .quick-links a{
    text-decoration: none;
    color: white;
}

.footer .footer-content .col2 .quick-links a:hover{
    text-decoration: none;
    color: #68BAB8;
}

.footer .footer-bottom {
    background: #68BAB8;
    color: black;
    heigth: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;

}
