table.paleBlueRows {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #FFFFFF;
  width: 80%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  background: #ebeeee;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.paleBlueRows tbody td {
  font-size: 16px;
 text-align: left;
  line-height: 25px;

}
table.paleBlueRows tr:nth-child(even) {
  background: #c2ebe7;

}
table.paleBlueRows thead {
  background: #08948F;
  border-bottom: 5px solid #FFFFFF;
  background-color:  #08948F;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}


table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}

table.paleBlueRows  {
  font-size: 14px;

}
#first{
  text-align: center;
}
.down{
  display: block;
    text-align: center;
}



body, html {

  height: 100%;

  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

}



.hero-image1 {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/subguide.jpg");

  height: 70%;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  position: relative;

}

.hero-image2 {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/conference.jpg");

  height: 70%;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  position: relative;

}



.hero-text {

  text-align: center;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  color: white;

  text-shadow: 2px 2px 5px black;



}



.hero-text button {

  border: none;

  outline: 0;

  display: inline-block;

  padding: 10px 25px;

  color: black;

  background-color: #ddd;

  text-align: center;

  cursor: pointer;

  box-shadow: 2px 2px 5px black;

}



.hero-text button:hover {

  background-color: #08948F;

  color: white;

  -webkit-transition: background-color 0.2s ease-in-out;

 -moz-transition: background-color 0.2s ease-in-out;

 -ms-transition: background-color 0.2s ease-in-out;

 -o-transition: background-color 0.2s ease-in-out;

 transition: background-color 0.2s ease-in-out;

}



.paragraph{



  padding-left: 150px;

  padding-right: 150px;



}

a{

  color: #016E6A;

}



.noshow{



  background-color: #68BAB8;

  border-color: white;

  margin-left: 200px;

  margin-right: 200px;

  padding: 35px;

  border-width: 2px;

  border-radius: 19px;

  box-shadow: 3px 3px 6px black;



}

#myBtn {

  display: none;

  position: fixed;

  bottom: 20px;

  right: 30px;

  z-index: 99;

  font-size: 18px;

  border: none;

  outline: none;

  background-color: grey;

  color: white;

  cursor: pointer;

  padding: 15px;

  border-radius: 4px;

  box-shadow: 3px 3px 6px black;

}



#myBtn:hover {

    background-color:  #08948F;

  -webkit-transition: background-color 0.5s ease-in-out;

 -moz-transition: background-color 0.5s ease-in-out;

 -ms-transition: background-color 0.5s ease-in-out;

 -o-transition: background-color 0.5s ease-in-out;

 transition: background-color 0.5s ease-in-out;



}

.nav{

  float: right;

}

.navbar {

  overflow: hidden;

  background-color: #333;

}

.navbar img{

  height:50px;

  width: 130px;

  object-fit:cover;

  object-position:100% 10%;

}

.navbar a {

  float: left;

  font-size: 16px;

  color: white;

  text-align: center;

  padding: 14px 16px;

  text-decoration: none;

}

.dropdown-submission, .dropdown-program, .dropdown-fees{

  float: left;

  overflow: hidden;

}

.dropdown-submission .submissiondropbtn,

.dropdown-program .programdropbtn,

.dropdown-fees .feesdropbtn{

  font-size: 16px;

  border: none;

  outline: none;

  color: white;

  padding: 14px 16px;

  background-color: inherit;

  font-family: inherit;

  margin: 0;

}



.dropdown-submission:hover .submissiondropbtn,

.dropdown-program:hover .programdropbtn,

.dropdown-fees:hover .feesdropbtn{

  background-color:  #08948F;

}



.submission-content, .program-content, .fees-content {

  display: none;

  position: absolute;

  background-color: #f9f9f9;

  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  z-index: 1;

}



.submission-content a,

.program-content a,

.fees-content a {

  float: none;

  color: black;

  padding: 12px 16px;

  text-decoration: none;

  display: block;

  text-align: left;

}



.submission-content a:hover,  .program-content a:hover,

.fees-content a:hover{

  background-color: #ddd;

}



.dropdown-submission:hover .submission-content,

.dropdown-program:hover .program-content,

.dropdown-fees:hover .fees-content{

  display: block;

}

.home{

  margin: auto;

  width: 60%;

   border-style:none;

  padding: 0px;

}

.box1,.box2,.box3{

  position: relative;

  width: 300px;

  height: 300px;

  border: 8px solid black;

  right: 80px;

  float: right;

  padding: 10px;

  background-color: #68BAB8

}

.image2,.image3,.image4{

  width: 300px;

  height: 400px;

  object-fit:cover;

  object-position:60% 10%;

}

.button {

  background-color: #08948F;

   border: none;

   color: white;

   padding: 16px 32px;

   text-align: center;

   text-decoration: none;

   display: inline-block;

   font-size: 16px;

   margin: 4px 2px;

   cursor: pointer;

   transition-duration: 0.4s;

}

.button1,.button2,.button3{

  background-color: white;

  color: black;

  border: 2px solid #e7e7e7;

}

.button1:hover,.button2:hover,.button3:hover {

  background-color: #08948F;

}





.footer {

    background: #333;

    color: white;

    height: 400px;

    position: relative;

}



.footer .footer-content {

    height: 350px;

    display: flex;

}



.footer .footer-content .footer-section{

    flex: 1;

    padding: 25px;

}



.social i {

    font-size: 26px;

    color: grey;

}



.contact i{

    padding: 5px;

    font-size: 36px;

    color: white;

}



.footer .footer-content h3{

    color: #68BAB8;

}



.footer .footer-content .col3 .contact span{

    display: block;

    font-size: 1.1em;

    margin-bottom: 8px;

}



.footer .footer-content .col1 .logo p{

    margin-bottom: 8px;

    padding: 12px;

}



.footer .footer-content .col1 .social a{

    border: 1px solid grey;

    width: 45px;

    height: 35px;

    padding-top: 5px;

    margin-right: 5px;

    text-align: center;

    display: inline-block;

    font-size: 1.3em;

    border-radius: 5px;

}



.footer .footer-content .col1 .social a:hover{

    text-decoration: none;

    border: 1px solid #68BAB8;

    color: white;

}



.footer .footer-content .col2 .quick-links a{

    text-decoration: none;

    color: white;

}



.footer .footer-content .col2 .quick-links a:hover{

    text-decoration: none;

    color: #68BAB8;

}



.footer .footer-bottom {

    background: #68BAB8;

    color: black;

    heigth: 50px;

    width: 100%;

    text-align: center;

    position: absolute;

    bottom: 0px;

    left: 0px;

    padding-top: 20px;



}
